@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,800&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;

}

.nav {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    background-color: black;
    position: left;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.logosp {
    display: flex;
    align-items: center;
    padding-left: 10%;
}

#le {
    width: 12px;
    height: 12px;
    margin-left: 10px;
}

img {
    object-fit: cover;
}

.logoa {
    padding-top: 10px;
    width: 40%;
    padding-bottom: 10px;
}

.logosp h1{
    color: white;
    font-weight: 700;
    font-size: 35px;

}

.btn_home {

    width: 65%;
    height: 50px;
    border: 0 solid;
    border-radius: 30px;
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 17%;
}

.dowland {
    width: 65%;
    height: 50px;
    border-radius: 30px;
    font-weight: 700;
    background: linear-gradient(#60ed91, #0bec59);
    color: black;
    margin-top: 50px;
}

.btn_home p {
    color: white;
    font-weight: 600;
    padding-left: 7px;
}

.block {
    display: block;
}

.none {
    display: none;
}

.icons {
    color: white;
    padding-left: 20px;


}

hr {
    margin-top: 20px;
    width: 65%;
    margin-left: 17%;
    margin-bottom: 20px;

}

.btn_home:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.playlist {
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 17%;
}

.playlist p {
    color: white;
    font-weight: 800;
}

.play {
    display: flex;
    gap: 50%;
}

.box {
    width: 70%;
    height: 100%;
    float: right;
    background-color: rgb(43, 42, 42);
}

.searchs {
    width: 30%;
    height: 30px;
    color: white;
    border-radius: 20px;
    padding-left: 30px;
    border: 1px solid lightgrey;
    background: url(../img/icons.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 5px 5px;
    /* margin-top: 20px; */

}

.search {
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.657);
    position: fixed;
    width: 70%;
    height: 10%;
    align-items: center;


}

.like {
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    width: 25%;
    height: 60px;
    border-radius: 30px;
    display: flex;
    gap: 24px;
}

.sign {
    display: flex;
    gap: 20px;
}

.sig {
    width: 90px;
    height: 40px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.15);
    font-weight: 700;
}

.lik {
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(#8C68CD, #c2aaef);
}

#sig1 {
    background-color: #000;
    color: white;
}

.se {
    padding-top: 15px;
}

.like p {
    color: white;
    font-weight: 600;
}

.categori {
    display: flex;
    gap: 20px;
    margin-top: 12%;
    justify-content: space-around;
}

.active {
    width: 5%;
}


.activee {
    width: 95%;
}

.music {
    justify-content: center;
    align-items: center;

}


.music h1 {
    color: white;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 20px;
    /* padding-bottom: 22px; */
}



.music_box {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;

}

.mini_box {
    width: 180px;
    height: 245px;
    background-color: #b3b3b320;
    align-items: center;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 40px;
}

.mini_box h3 {
    color: white;
    font-weight: 700;
    font-size: 14px;
    Line-height: 16px;
    padding-top: 7px;
}

.mini_box p {
    color: #b3b3b3c8;
    font-weight: 400;
    font-size: 12px;
    Line-height: 14px;
    padding-top: 7px;
}






.fot {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background-color: rgb(38, 36, 36);
    height: 200px;
    margin-top: 0px;
}

.flexx {
    width: 200px;
    margin-top: 20px;
    text-align: left;

}

.flexx h4 {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 10px;
}

.flexx a {
    color: rgba(211, 211, 211, 0.33);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 25px;
}


/* /////сторона поиска */


.serch_poisk {
    margin-top: 12%;
    display: none;
}

.serch_poisk h1 {
    font-size: 27px;
    margin-left: 20px;
    color: white;
    font-weight: 800;
}


.categorii {
    margin-left: 15px;
    width: 150px;
    height: 130px;
    background-color: #03f759;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    text-align: start;
    padding-left: 15px;
}

.categorii:nth-child(2) {
    background-color: #8C68CD;
}

.categorii:nth-child(3) {
    background-color: #c2aaef;
}

.categorii:nth-child(4) {
    background-color: #6522e1;
}

.categorii:nth-child(5) {
    background-color: #b2b1b4;
}

.categorii:nth-child(6) {
    background-color: #545455;
}

.categorii:nth-child(7) {
    background-color: brown;
}

.categorii:nth-child(8) {
    background-color: #cfa526;
}

.categorii:nth-child(9) {
    background-color: #8C68CD;
}

.categorii:nth-child(10) {
    background-color: #7d4e1c;
}

.categorii:nth-child(11) {
    background-color: #740b0d;
}

.categorii:nth-child(12) {
    background-color: burlywood;
}

.categorii:nth-child(13) {
    background-color: rgb(107, 105, 102);
    margin-bottom: 40px;

}

.categorii:nth-child(14) {
    background-color: rgba(91, 96, 127, 0.937);
    margin-bottom: 40px;

}

.categorii:nth-child(15) {
    background-color: rgb(254, 198, 228);
    margin-bottom: 40px;

}

.categorii:nth-child(16) {
    background-color: hotpink;
    margin-bottom: 40px;

}

.serch_box {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.categorii b {
    font-size: 23px;
    color: white;
    font-weight: 800;
    text-align: start;
}



.music_block {
    width: 100%;
    margin: 0 auto;
    /* background-color: #b2b1b4; */
    display: none;
    /* height: 900px; */
}

.music_block_box1 {
    height: 306px;
    align-items: center;
    background: linear-gradient(90deg, #024755 0%, #195abc 100%);
}


.block_img {
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 4px;

    background: linear-gradient(#2dccec, #3D8BFD);
}

.music_img {
    padding-top: 12%;
    padding-left: 4%;
    display: flex;
    gap: 6%;
}

.block_img img {
    padding-top: 32px;
    padding-left: 22px;
}

.block_text h6 {
    color: #FFFFFF;
    font-size: 12px;
}

.block_text h1 {
    color: #FFFFFF;
    font-size: 70px;
}

.block_text p {
    color: #B3B3B3;
    font-size: 12px;
    line-height: 12px;

}

.block_text p b {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
}


.music_title {
    margin-top: 62px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    gap: 60px;
}

.music_title p {
    font-size: 12px;
    color: #777777;
}

.music_categori {
    display: flex;
    gap: 10px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
}

.pause {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #03f759;
}

.pause img {
    padding-left: 16px;
    padding-top: 11px;
}

.music_categori img {
    width: 35px;
    height: 35px;
}

.music_input {
    justify-content: flex-end;
    display: flex;
    gap: 25px;
    padding-left: 30%;
}

.music_input p{
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
}

.searchss {
    width: 60%;
    height: 30px;
    color: white;
    border-radius: 20px;
    padding-left: 30px;
    border: 1px solid lightgrey;
    background: url(../img/icons.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 5px 5px;
}
.searchss::placeholder{
    color: white;
}

.custom {
    padding-top: 4px;
    width: 100px;
    height: 30px;
    background-color: #535353;
    border-radius: 20px;
    padding-left: 5px;
    color: white;
}

.music_block_box2{
    width: 100%;
}

.box_audio{
    width: 100%;
    background-color: #232324;
}

.pley_list:hover {
background-color: #535353;
transition: 600ms;
}


.pley_list{
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background-color:#232324;
    display: flex;
    justify-content: space-around;
    text-align: start;
    align-items: center;
}

.play_img{
    display: flex;
    text-align: start;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}
.play_p{
    width: 90px;
    margin-left: 10px;
}

.play_day{
    width: 60px;
}

.pley_list p{
   color: #B3B3B3; 
   text-align: start;
   font-size: 12px;

}

.play_img p{
    color: white;
    font-size: 15px;
}

.play_by{
    display: flex;
    gap: 10px;
    text-align: start;
    align-items: center;
}


.fixed_list{
width: 100%;
height: 70px;
bottom: 0;
background-color: #000;
position: fixed;
}


